@model IEnumerable<BTThucTap.Models.SellReceiptDetail>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "ChiTietHoaDon";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card-header bg-primary text-uppercase text-white">
<h1>ChiTietHoaDon</h1>
</div>
<hr />

<div class="container-fluid">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SellReceipt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

        <tr class="table-success">
            <td>
                @Html.DisplayFor(modelItem => item.SellReceiptId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
          
        </tr>
}
    </tbody>
</table>
<div>
   
    <a asp-action="DanhMucHoaDon">Back to List</a>
</div>
</div>
