@using X.PagedList.Mvc.Core;
@model X.PagedList.IPagedList<BTThucTap.Models.SellReceipt>;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "DanhMucHoaDon";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>DanhMucHoaDon</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Time
            </th>
            <th>
                Customer
            </th>
            <th>
                Staff
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <tr class ="table-success">
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StaffId)
            </td>
            <td>
                    <a asp-action="ChiTietHoaDon" asp-route-id="@item.Id" >Details</a> 
            </td>
        </tr>
}
    </tbody>
</table>
@Html.PagedListPager(Model, page => Url.Action("danhmucsanpham", new{page=page}), new
    X.PagedList.Web.Common.PagedListRenderOptions(){
        LiElementClasses = new List<String> {"page-item"},
        PageClasses = new List<String> {"page-link"},
    });